<div id="textCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 300px;">
    <div class="carousel-inner h-100 d-flex align-items-center ">
        <div class="carousel-item active ">
            <div class="text-center w-100" style="height: 100%;">
                <div class="text-white p-5 mx-auto " style="max-width: 1600px; background-color: #1511de94; height: 300px;">
                    <div style="position: relative; top: 50%; transform: translateY(-50%);">
                        <h1>Welcome to Django Won Blog</h1>
                        <p>This is the place where we share knowledge!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="text-center w-100" style="height: 100%;">
                <div class="text-white p-5 mx-auto" style="max-width: 1600px; background-color: #5ab8ef; height: 300px;">
                    <div style="position: relative; top: 50%; transform: translateY(-50%);">
                        <h1>Explore New Ideas</h1>
                        <p>Dive deep into the world of development with our blog posts.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center w-100" style="height: 100%;">
                <div class="text-white p-5 mx-auto" style="max-width: 1600px; background-color: #b3b4b3; height: 300px;">
                    <div style="position: relative; top: 50%; transform: translateY(-50%);">
                        <h1>Join Our Community</h1>
                        <p>Join us to get the latest updates and participate in discussions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#textCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#textCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
