<footer class="text-white mt-3">
    <div class="container-fluid py-1" style="background-color: #f8f2d1ea;">
        <!-- Add your footer content here -->
        <div class="row">
            <div class="col-12 text-center">
                <h5 style="font-size: 0.9rem;">연락처 정보</h5>
                <div class="underline mb-2"></div>
                <p style="font-size: 0.8rem;">
                    이메일: info@naver.com 전화: (123) 456-7890
                </p>
            </div>
        </div>
    </div>
    <div class="text-center small py-1" style="background-color: #f5ebb3;">
        ©2024 Django Won Blog, All rights reserved
    </div>
</footer>
